{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <h2>You have now been logged out, see you later.</h2>
    </main>
  </body>
</html>
{%endblock content%}
