{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <form method="post">
        {%csrf_token%} {{ form.as_p }}
        <div>
          <button>Login</button>
        </div>
      </form>
    </main>
  </body>
</html>
{% endblock content %}
