<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          {% endif %} {%if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
  </body>
  {% block pagination %} {%endblock pagination %}
</html>
