{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  {% block content %}
  <main>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <div>
        <button>Create New Receipt</button>
      </div>
    </form>
  </main>
  {% endblock content %}
</html>
